body {
  background-image: url(images-task2/Hero_BackgroundGraphic.webp),
  linear-gradient(180deg, #C9F2FF 0%, #E6FCFF 96.63%);
  margin: 0;
  padding: 0;
  display: flex;
  
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-size: 100;
  font-family: Bell MT;
}
.div,section,span,ul,li,a,header{
  box-sizing:border-box;
}


      /*Navigation Started*/
.logo{
  position: auto;
  height: auto;
  left: opx;
  width: 100px;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items:center;
  position: fixed;
  z-index: 999;
}
#menu  li {
  list-style: none;
  display: inline-block;
  margin: 20px;

}
#menu li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
/* Navigation Finish */

/* Home page */
.name{
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%-50%);
}
.name span{
  color:#fff;
  font-size: 80px;
  letter-spacing: 0.5em;
  font-weight: 700;
  color:rgba(253, 12, 12, 0.1);
  display:inline-block;
  transition: all.10s;
  animation: anim 3.15s infinite;
  align-items: center;
}

@keyframes anim{
  0%{
    color:#ffffff1a;
    transform:tranlateY(0);
    margin-left:0;
  }
  25%{
    color:red;
    transform:translateY(-15px);
    margin-left:15px;
    text-shadow:0 15px 5px rgba(0,0,0,1);
  }
  100%{
    color: #ffffff1a;
    transform:translateY(0);
  }
}

.name span:nth-child(1){
  animation-delay:0.1s;
}
.name span:nth-child(2){
  animation-delay: 0.2s;
}
.name span:nth-child(3){
  animation-delay:0.3s;
}
.name span:nth-child(4){
  animation-delay: 0.4s;
}
.name span:nth-child(5){
  animation-delay: 0.5s;
}
.name span:nth-child(6){
  animation-delay: 0.6s;
}
.name span:nth-child(7){
  animation-delay: 0.7s;
}


/* login, add_task page  design started */
h2 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #0056b3;
}


/* login Input */

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}


/* add_task input */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
    
input[type="file"] {
  margin-top: 5px;
}
    
textarea {
  resize: vertical;
}

/* login, add_task end's */


/* Communication */
#chat-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}
#messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#message-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
  margin-top: 10px;
}

#send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}